<!doctype html>

<html lang="en">

<head>

	<meta name="keyword" content="">

	<meta name="description" content="">

	<meta name="author" content="">

	<meta property="og:image" content="assets/img/logo.svg" />

	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	<title>Kotakarsip</title>

	<link rel="icon" sizes="16x16" href="assets/img/favicon.png" />

	<!-- Font Icon -->
	<link rel="stylesheet" href="assets/libs/font-icons/entypo/css/entypo.css">
	<link rel="stylesheet" href="assets/libs/font-icons/font-awesome/css/font-awesome.min.css">

	<!-- Bootstrap Vue -->
	<link type="text/css" rel="stylesheet" href="assets/css/bootstrap-vue.css"/>

	<!-- Custom css -->
	<link href="assets/css/kotakarsip.css" rel="stylesheet">

</head>


<body>

	<div class="page-loader">
		<img src="assets/img/load.gif" alt="Loading...">
	</div>

	<div id="app">
		<nav class="ka-nav">
			<ul class="left-side">
				<li class="nav-toggle">
					<a href="#"><i class="fa fa-bars"></i></a>
				</li>
				<li class="brand">
					<img src="assets/img/logo-white.svg" class="logo" alt="Logo KotakArsip">
				</li>
				<li class="search">
					<form action="">
						<input type="text" placeholder="Pencarian">
					</form>
				</li>
			</ul>
			<ul class="right-side">
				<li class="notif new-notif dropdown">
					<a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" @click="notification"><i class="fa fa-bell animated swing infinite"></i> <span class="badge">2</span></a>
					<ul class="dropdown-menu pull-right">
						<li class="notif-title">
							<h3>Notifikasi</h3>
							<a href="#">Tandai semua sudah dibaca</a>
						</li>
						<li role="separator" class="divider"></li>

						<li class="unread">
							<a href="detail.html">
								<div class="img-profile" style="background: url('assets/img/users/2.png')"></div>
								<span>
									Alfian Saputra membagikan <b>Kontrak Kerja</b> kepada Anda<br>
									<div class="btn btn-primary btn-sm">Buka File</div>
								</span>
							</a>
						</li>
						<li role="separator" class="divider"></li>

						<li class="unread">
							<a href="detail.html">
								<div class="img-profile" style="background: url('assets/img/users/3.jpg')"></div>
								<span>
									Alfian Labeda membagikan <b>Hasil Rapat 12 Agustus 2017</b> kepada Anda<br>
									<div class="btn btn-primary btn-sm">Buka File</div>
								</span>
							</a>
						</li>
						<li role="separator" class="divider"></li>

						<li>
							<a href="detail.html">
								<div class="img-profile" style="background: url('assets/img/users/4.jpg')"></div>
								<span>
									Mashuri Mansur mendisposisi surat masuk dari <b>CV. Media SAKTI</b> kepada Anda<br>
									<div class="btn btn-primary btn-sm">Buka File</div>
								</span>
							</a>
						</li>
						<li role="separator" class="divider"></li>
						
						<li class="text-center"><a href="notifikasi.html">Lihat semua pemberitahuan</a></li>
					</ul>
				</li>
				<li class="profile dropdown">
					<a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<div class="img-profile" style="background: url('assets/img/users/1.jpg')"></div>
						<span class="view-desktop-only">Gifa Eriyanto</span> &nbsp;<i class="fa fa-caret-down"></i>
					</a>
					<ul class="dropdown-menu pull-right">
						<li><a href="pengaturan-akun.html">Pengaturan Akun</a></li>
						<li><a href="bantuan.html">Bantuan</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="login.html">Keluar</a></li>
					</ul>
				</li>
			</ul>
		</nav>

		<section class="ka-body">
			<header class="ka-menus">
				<ul class="list-unstyled">
					<li class="label-menus">Arsip</li>
					<li class="active"><a href="index.html">Surat Masuk</a></li>
					<li><a href="surat-keluar.html">Surat Keluar</a></li>
					<li><a href="surat-izin.html">Surat Perizinan</a></li>
					<li><button type="button" class="new-type">+ Jenis Arsip</button></li>
				</ul>

				<br>

				<ul class="list-unstyled">
					<li class="label-menus">Konfigurasi</li>
					<li><a href="penyimpanan-arsip.html">Penyimpanan Arsip</a></li>
					<li><a href="anggota.html">Anggota</a></li>
					<li><a href="pengaturan.html">Pengaturan</a></li>
				</ul>

				<br>

				<ul class="list-unstyled">
					<li><a href="sampah.html"><i class="fa fa-trash-o"></i> &nbsp;Sampah</a></li>
				</ul>
			</header>

			<div class="ka-main">
				<div class="breadcrumbs">
					<ul class="list-inline">
						<li><a href="index.html">Blank</a></li>
					</ul>
				</div>
			</div>

			<aside class="ka-sidebar-detail">
				
			</aside>
		</section>
	</div>

	<script src="assets/js/kotakarsip.js"></script>
	<script src="assets/vue/components/sidebar-detail.js"></script>
	<script src="assets/vue/surat-masuk.js"></script>
	<script>
		getDataIncomingMail('data/surat_masuk.json', 'incomingMail');
	</script>

</body>

</html>