<!doctype html>

<html lang="en">

<head>

	<meta name="keyword" content="">

	<meta name="description" content="">

	<meta name="author" content="">

	<meta property="og:image" content="assets/img/logo.svg" />

	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	<title>Kotakarsip</title>

	<link rel="icon" sizes="16x16" href="assets/img/favicon.png" />

	<!-- Font Icon -->
	<link rel="stylesheet" href="assets/libs/font-icons/entypo/css/entypo.css">
	<link rel="stylesheet" href="assets/libs/font-icons/font-awesome/css/font-awesome.min.css">

	<!-- Bootstrap Vue -->
	<link type="text/css" rel="stylesheet" href="assets/css/bootstrap-vue.css"/>

	<!-- Custom css -->
	<link href="assets/css/kotakarsip.css" rel="stylesheet">

</head>


<body class="page-login">

	<div id="app">
		<nav class="ka-nav ka-nav-detail">
			<div class="brand brand-center">
				<img src="assets/img/logo.svg" class="logo" alt="Logo KotakArsip"> &nbsp;&nbsp;<b>KOTAK<span>ARSIP</span></b>
			</div>
		</nav>

		<div class="ka-body" style="padding-top: 50px">
			<div class="container setup-storage-sub">
				<div class="row">
					<form action="setup-storage-sub-success.html">
						<div class="col-md-offset-2 col-md-4">
							<br>
							<img src="assets/img/icons/map_arsip.svg" alt="" width="98%" style="margin-top: 60px">
						</div>

						<div class="col-md-4">
							<h1><input type="text" placeholder="Nama Filling Cabinet" value="Filling Cabinet 1"></h1>
							<p>Silahkan masukkan nama sub penyimpanan Anda seperti map, folder, guide dan ordner pada filling cabinet ini!</p>

							<br>

							<div id="list">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Nama/Kode map, folder, guide atau ordner">
								</div>

								<div class="form-group">
									<input type="text" class="form-control" placeholder="Nama/Kode map, folder, guide atau ordner">
								</div>

								<div class="form-group">
									<input type="text" class="form-control" placeholder="Nama/Kode map, folder, guide atau ordner">
								</div>
							</div>

							<br>

							<div class="row">
								<div class="col-md-6">
									<a href="" id="add-list">+ Tambah</a>
								</div>
								<div class="col-md-6 text-right">
									<button class="btn btn-primary">Lanjutkan &nbsp;<i class="fa fa-angle-double-right"></i></button>
								</div>
							</div>

							<br>
							<br>
							<br>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

	<script src="assets/js/kotakarsip.js"></script>
	<script>
		$('.select-cabinet label').click(function() {
			var id = $(this).attr('for');

			$('input[type="radio"]').removeAttr('checked');
			$('input#' + id).attr('checked', 'checked');

			$('label').removeClass('active');
			$('label[for="' + id + '"]').addClass('active');
		});

		$('#add-list').click(function(e) {
			e.preventDefault();
			$('#list').append('<div class="form-group"><input type="text" class="form-control" placeholder="Nama/Kode map, folder, guide dan ordner"></div>')
		});
	</script>

</body>

</html>