<!doctype html>

<html lang="en">

<head>

	<meta name="keyword" content="">

	<meta name="description" content="">

	<meta name="author" content="">

	<meta property="og:image" content="assets/img/logo.svg" />

	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	<title>Kotakarsip</title>

	<link rel="icon" sizes="16x16" href="assets/img/favicon.png" />

	<!-- Font Icon -->
	<link rel="stylesheet" href="assets/libs/font-icons/entypo/css/entypo.css">
	<link rel="stylesheet" href="assets/libs/font-icons/font-awesome/css/font-awesome.min.css">

	<!-- Bootstrap Vue -->
	<link type="text/css" rel="stylesheet" href="assets/css/bootstrap-vue.css"/>

	<!-- Custom css -->
	<link href="assets/css/kotakarsip.css" rel="stylesheet">

</head>


<body class="page-login">

	<div id="app">
		<nav class="ka-nav ka-nav-detail">
			<div class="brand brand-center">
				<img src="assets/img/logo.svg" class="logo" alt="Logo KotakArsip"> &nbsp;&nbsp;<b>KOTAK<span>ARSIP</span></b>
			</div>
		</nav>

		<div class="ka-body" style="padding-top: 50px">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-4 col-md-4 text-center">
						<img src="assets/img/company.svg" alt="" width="80%" style="margin-top: 60px">
					</div>
					<div class="col-md-12 text-center">
						<h1>Selamat, Perusahaan Anda berhasil terdaftar</h1>
						<p>Berikut kode perusahaan Anda</p>
						<h1 class="no-margin"><a href="" class="color-primary">8 9 2 0</a></h1>
						<br>
						<a href="setup-storage.html" class="btn btn-primary">Lanjutkan &nbsp;&nbsp;<i class="fa fa-angle-double-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="assets/js/kotakarsip.js"></script>

</body>

</html>