<!doctype html>

<html lang="en">

<head>

	<meta name="keyword" content="">

	<meta name="description" content="">

	<meta name="author" content="">

	<meta property="og:image" content="assets/img/logo.svg" />

	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	<title>Kotakarsip</title>

	<link rel="icon" sizes="16x16" href="assets/img/favicon.png" />

	<!-- Font Icon -->
	<link rel="stylesheet" href="assets/libs/font-icons/entypo/css/entypo.css">
	<link rel="stylesheet" href="assets/libs/font-icons/font-awesome/css/font-awesome.min.css">

	<!-- Bootstrap Vue -->
	<link type="text/css" rel="stylesheet" href="assets/css/bootstrap-vue.css"/>

	<!-- Custom css -->
	<link href="assets/css/kotakarsip.css" rel="stylesheet">

</head>


<body class="page-login">

	<div id="app">
		<nav class="ka-nav ka-nav-detail">
			<ul class="left-side">
				<li class="brand">
					<img src="assets/img/logo.svg" class="logo" alt="Logo KotakArsip"> &nbsp;&nbsp;<b>KOTAK<span>ARSIP</span></b>
				</li>
			</ul>
			<ul class="right-side">
				<li><a href="">Laporkan masalah</a></li>
				<li>
					<a href="login.html" class="btn btn-primary">Masuk</a>
				</li>
			</ul>
		</nav>

		<div class="ka-body">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-2 col-md-4">
						<img src="assets/img/login.svg" alt="" width="98%" style="margin-top: 60px">
					</div>
					<div class="col-md-4">
						<h1>Daftar</h1>

						<form action="setup-company.html">
							<div class="form-group">
								<input type="text" name="name" class="form-control" placeholder="Nama Lengkap">
							</div>
							<div class="form-group">
								<input type="text" name="email" class="form-control" placeholder="Alamat Email">
							</div>
							<div class="form-group">
								<input type="password" name="password" class="form-control" placeholder="Kata Sandi">
							</div>
							<div class="form-group">
								<input type="checkbox"> &nbsp;Saya setuju dengan ketentuan <a href="">KotakArsip</a>
							</div>
							<div class="form-group row">
								<div class="col-md-6">
									<button class="btn btn-primary btn-block">Daftar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="assets/js/kotakarsip.js"></script>

</body>

</html>