<!doctype html>

<html lang="en">

<head>

	<meta name="keyword" content="">

	<meta name="description" content="">

	<meta name="author" content="">

	<meta property="og:image" content="assets/img/logo.svg" />

	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	<title>Kotakarsip</title>

	<link rel="icon" sizes="16x16" href="assets/img/favicon.png" />

	<!-- Font Icon -->
	<link rel="stylesheet" href="assets/libs/font-icons/entypo/css/entypo.css">
	<link rel="stylesheet" href="assets/libs/font-icons/font-awesome/css/font-awesome.min.css">

	<!-- Bootstrap Vue -->
	<link type="text/css" rel="stylesheet" href="assets/css/bootstrap-vue.css"/>

	<!-- Custom css -->
	<link href="assets/css/kotakarsip.css" rel="stylesheet">

</head>


<body>

	<div id="app">
		<nav class="ka-nav">
			<ul class="left-side">
				<li class="nav-toggle">
					<a href="#"><i class="fa fa-bars"></i></a>
				</li>
				<li class="brand">
					<img src="assets/img/logo-white.svg" class="logo" alt="Logo KotakArsip">
				</li>
				<li class="search">
					<form action="">
						<input type="text" placeholder="Pencarian">
					</form>
				</li>
			</ul>
			<ul class="right-side">
				<li class="notif new-notif dropdown">
					<a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" @click="notification"><i class="fa fa-bell animated swing infinite"></i> <span class="badge">2</span></a>
					<ul class="dropdown-menu pull-right">
						<li class="notif-title">
							<h3>Notifikasi</h3>
							<a href="#">Tandai semua sudah dibaca</a>
						</li>
						<li role="separator" class="divider"></li>

						<li class="unread">
							<a href="detail.html">
								<div class="img-profile" style="background: url('assets/img/users/2.png')"></div>
								<span>
									Alfian Saputra membagikan <b>Kontrak Kerja</b> kepada Anda<br>
									<div class="btn btn-primary btn-sm">Buka File</div>
								</span>
							</a>
						</li>
						<li role="separator" class="divider"></li>

						<li class="unread">
							<a href="detail.html">
								<div class="img-profile" style="background: url('assets/img/users/3.jpg')"></div>
								<span>
									Alfian Labeda membagikan <b>Hasil Rapat 12 Agustus 2017</b> kepada Anda<br>
									<div class="btn btn-primary btn-sm">Buka File</div>
								</span>
							</a>
						</li>
						<li role="separator" class="divider"></li>

						<li>
							<a href="detail.html">
								<div class="img-profile" style="background: url('assets/img/users/4.jpg')"></div>
								<span>
									Mashuri Mansur mendisposisi surat masuk dari <b>CV. Media SAKTI</b> kepada Anda<br>
									<div class="btn btn-primary btn-sm">Buka File</div>
								</span>
							</a>
						</li>
						<li role="separator" class="divider"></li>
						
						<li class="text-center"><a href="notifikasi.html">Lihat semua pemberitahuan</a></li>
					</ul>
				</li>
				<li class="profile dropdown">
					<a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<div class="img-profile" style="background: url('assets/img/users/1.jpg')"></div>
						<span class="view-desktop-only">Gifa Eriyanto</span> &nbsp;<i class="fa fa-caret-down"></i>
					</a>
					<ul class="dropdown-menu pull-right">
						<li><a href="pengaturan-akun.html">Pengaturan Akun</a></li>
						<li><a href="bantuan.html">Bantuan</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="login.html">Keluar</a></li>
					</ul>
				</li>
			</ul>
		</nav>

		<section class="ka-body">
			<header class="ka-menus">
				<ul class="list-unstyled">
					<li class="label-menus">Arsip</li>
					<li><a href="index.html">Surat Masuk</a></li>
					<li><a href="surat-keluar.html">Surat Keluar</a></li>
					<li class="active"><a href="surat-izin.html">Surat Perizinan</a></li>
					<li><button type="button" class="new-type">+ Jenis Arsip</button></li>
				</ul>

				<br>

				<ul class="list-unstyled">
					<li class="label-menus">Konfigurasi</li>
					<li><a href="penyimpanan-arsip.html">Penyimpanan Arsip</a></li>
					<li><a href="anggota.html">Anggota</a></li>
					<li><a href="pengaturan.html">Pengaturan</a></li>
				</ul>

				<br>

				<ul class="list-unstyled">
					<li><a href="sampah.html"><i class="fa fa-trash-o"></i> &nbsp;Sampah</a></li>
				</ul>
			</header>

			<div class="ka-main">
				<div class="breadcrumbs">
					<ul class="list-inline">
						<li class="dropdown">
							<a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">...</a>
							<ul class="dropdown-menu">
								<li><a href="surat-izin.html">Surat Izin</a></li>
								<li><a href="surat-izin-imb.html">Izin Mendirikan Bangunan (IMB)</a></li>
							</ul>
						</li>
						<li>PT. Docotel Teknologi Celebes</li>
					</ul>
				</div>

				<table class="table table-hover" v-for="val in json.licenseFiles">
					<tr>
						<th colspan="2">Berkas</th>
						<th>Tanggal Unggah</th>
						<th></th>
					</tr>
					<tr class="item" v-for="val in val.files" @click="detailSidebar(val, $event)">
						<td width="30px">
							<div v-if="val.files">
								<i class="fa fa-check-circle color-green"></i>
							</div>
							<div v-else>
								<i class="fa fa-exclamation-circle color-gray"></i>
							</div>
						</td>
						<td>{{ val.jenis }}</td>
						<td>
							<div v-if="val.files">
								{{ val.tanggal_masuk }}
							</div>
							<div v-else>
								-
							</div>
						</td>
						<td align="right">
							<input type="file" :id="val.id" class="hidden">
							<div v-if="val.files">
								<label :for="val.id" class="btn btn-default btn-sm">Perbarui Berkas</label>
							</div>
							<div v-else>
								<label :for="val.id" class="btn btn-primary btn-sm"><i class="fa fa-upload"></i>&nbsp; Unggah</label>
							</div>
						</td>
					</tr>
				</table>
			</div>

			<aside class="ka-sidebar-detail">
				<a href="create.html" class="btn btn-primary btn-block">Tambah</a>

				<br>

				<div class="detail-info">

					<div v-if="detail !== ''">
						<detail :detail="detail"></detail>
					</div>
					<div v-else>
						<no-select></no-select>
					</div>

				</div>
			</aside>
		</section>
	</div>
	
	<!-- No select data in table -->
	<template id="no-select">
		<div class="no-select text-center">
			<img src="assets/img/icons/select_file.svg" alt="Pilih salah satu">
			<p>Pilih salah satu data untuk melihat detail</p>
		</div>
	</template>

	<!-- Detail after select data in table -->
	<template id="sidebar-detail">
		<div>
			<div class="select">
				<div class="item" v-if="detail.files">
					<label>Pratinjau</label>
					<div class="value">
						<img :src="'assets/img/data-img/surat-masuk/' + detail.files[0]" :alt="detail.files[0]">
					</div>
				</div>
				<div class="item">
					<label>Jenis Berkas</label>
					<div class="value">{{ detail.jenis }}</div>
				</div>
				<div class="item" v-if="detail.nik">
					<label>NIK</label>
					<div class="value">{{ detail.nik }}</div>
				</div>
				<div class="item" v-if="detail.pemohon">
					<label>Pemohon</label>
					<div class="value">{{ detail.pemohon }}</div>
				</div>
				<div class="item" v-if="detail.tanggal_masuk">
					<label>Tanggal Masuk</label>
					<div class="value">{{ detail.tanggal_masuk }}</div>
				</div>
			</div>

			<div class="attachment" v-if="detail.files">
				<span>{{ detail.files.length }} file terlampir</span>
				<a href="surat-izin-berkas.html" class="btn btn-default btn-block">Lihat Detail</a>
			</div>
		</div>
	</template>

	<script src="assets/js/kotakarsip.js"></script>
	<script src="assets/vue/components/sidebar-detail.js"></script>
	<script src="assets/vue/surat-izin-imb.js"></script>
	<script>
		getDataLicenseFiles('data/surat_izin_berkas.json', 'licenseFiles');
	</script>

</body>

</html>